{% extends "AppBundle/layout.html.twig" %}

{% block title %}Group Delete{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h1>Delete Group &laquo;{{ group.name }}&raquo;</h1>
    <p style="color:red;">Are you sure to remove this group?</p>
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if not error_message is empty %}
        <hr/>
        <p style="color:red;">Error: {{ error_message }}</p>
    {% endif %}
{% endblock %}
