{% extends "AppBundle/layout.html.twig" %}

{% block title %}Greoup Create{% endblock %}

{% block body %}
    <h1>Create New Group</h1>

    {% if not error_message is empty %}
        <p style="color:red;">Error: {{ error_message }}</p>
    {% endif %}

    <hr/>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_usergroup_list') }}">Back to All Groups</a>
{% endblock %}
