{% extends "AppBundle/layout.html.twig" %}

{% block title %}User Edit{% endblock %}

{% block body %}
    <h1>Edit User &laquo;{{ user.name }}&raquo;</h1>

    {% if not error_message is empty %}
        <p style="color:red;">Error: {{ error_message }}</p>
    {% endif %}

    <hr/>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>
        <a href="{{ path('app_user_show', {id: user.id}) }}">Back to User</a>
    </p>
{% endblock %}
